<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >

	<p:growl id="growl" showDetail="false" sticky="true" /> 
					
	<!-- 15 minute timeout -->		
	<p:idleMonitor timeout="900000" onidle="PF('timeoutWidget').show()"/>

	<p:dialog header="Session Timed Out" widgetVar="timeoutWidget" minWidth="560" closable="FALSE" resizable="FALSE" modal="TRUE">
		<div class="editTextArea timeOut">
			<h:outputText value="Your session has timed out. Please login to continue." style="margin:10px"/>
			<p:commandButton value="Ok" ajax="false" immediate="true" action="#{loginHandler.processLogout}" class="commandButton"/>
		</div>
	</p:dialog>

</ui:composition>
