<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
      
    <h:outputStylesheet library="css" name="menu.css"/>
    
    <p:tabMenu activeIndex="#{appHandler.currentTab}">
    	<p:menuitem value="Checkout" action="#{checkoutHandler.processCheckoutBook()}" ajax="false" immediate="true">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="0" />
	    </p:menuitem>
	    <p:menuitem value="Checkin" action="#{checkoutHandler.processCheckinBook()}" ajax="false" immediate="true">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="1" />
	    </p:menuitem>
	    <p:menuitem value="Books" action="#{bookHandler.processViewBooks()}" ajax="false" immediate="true">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="2" />
	    </p:menuitem>
	    <p:menuitem value="Patrons" action="#{patronHandler.processViewPatrons()}" ajax="false" immediate="true">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="3" />
	    </p:menuitem>
	    <p:menuitem value="Users" action="#{userHandler.processViewUsers()}" ajax="false" immediate="true" rendered="#{appHandler.user.admin}">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="4" />
	    </p:menuitem>
	    <p:menuitem value="Logout" action="#{loginHandler.processLogout()}" ajax="false" immediate="true">
	       	<f:setPropertyActionListener target="#{appHandler.currentTab}" value="5" />
	    </p:menuitem>
	</p:tabMenu>
		
	<p:commandLink onclick="PF('pass').show();" style="position:absolute;top: 14px;right:4px;color:grey">
     	<h:outputText class="fa fa-fw fa-gear"/>   
    </p:commandLink>
	
 	<p:dialog header="Change Password" widgetVar="pass" modal="true" closable="false" resizable="false">
	 	<div class="popupDialog">
	  
			<div class="password-row" >
				<p:outputLabel for="myExisting" value="Current" styleClass="password-title"/>
				<p:password id="myExisting" binding="#{myExisting}"/>
			</div>	
			
			<div class="password-row" >
				<p:outputLabel for="myNew" value="New" styleClass="password-title"/>
				<p:password id="myNew" binding="#{myNew}"/>
			</div>	
			
			<div class="password-row" >
				<p:outputLabel for="myConfirm" value="Confirm" styleClass="password-title"/>
				<p:password id="myConfirm" binding="#{myConfirm}"/>
			</div>	
	
			<div class="buttonBar">
				<p:commandButton value="Cancel" onclick="PF('pass').hide()" class="commandButton"/>
				<p:commandButton value="Submit" action="#{userHandler.ajaxUpdatePassword(myExisting.value, myNew.value, myConfirm.value)}" update="growl" style="float:right" oncomplete="PF('pass').hide()" class="commandButton"/>
			</div>
		</div>
	</p:dialog> 

</ui:composition>
