<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
	<p:confirmDialog global="true" id="confirmDelete">
   		<div class="confirmDiv">
	        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes confirmYes" icon="ui-icon-check" class="commandButton"/>
	        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no confirmNo" icon="ui-icon-close" class="commandButton"/>
        </div>
    </p:confirmDialog>
    
	<p:dialog header="Required Fields Missing" widgetVar="error" modal="true" resizable="false" closeable="false" style="text-align:center">
		<h:outputText value="Please Enter All Required Data" style="display:block"/>
		<p:commandButton value="Ok" onclick="PF('error').hide()" style="margin-top:5px"/>
	</p:dialog>   
    
</ui:composition>