<!DOCTYPE html>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/loggedin_template.xhtml">
 
    <ui:define name="menu">
        <ui:include src="/WEB-INF/includes/menu.xhtml"/>
        
        <style>
        	.checkoutHeader {
        		text-align: center;
   			 	padding: 4px 10px;
   			 	color:white;
  			 	font-weight: bold;
			 	font-family: 'Open Sans', sans-serif;
			 	font-size: 1.1em;
   			 }
   			 
   			 .checkoutBody {
   			 	background: lightblue;
   			 	text-align:center;
   			 	padding-top:10px;
   			 }
   			 
   			 .title {
   			 	text-align:left;
   			 }
        </style>
    </ui:define>
 
    <ui:define name="content">
    
    	<div class="checkoutHeader">
    		Checkin Book
    	</div>
    	
    	<div class="checkoutBody">
			
			<div class="checkoutRow">
				<p:outputLabel for="copy" value="Book" class="title"/>
				<p:inputText id="copy" value="#{checkoutHandler.checkoutBook}" class="fullField scanner-tab" />
			</div>	
			
			<div class="checkoutRow">
				<p:commandButton value="Checkin" action="#{checkoutHandler.ajaxProcessCheckin()}" update="main:growl"/>
			</div>
			
		</div>
    </ui:define>
 
</ui:composition>
