<!DOCTYPE html>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/loggedin_template.xhtml">
 
    <ui:define name="menu">
        <ui:include src="/WEB-INF/includes/menu.xhtml"/>
    </ui:define>
 
    <ui:define name="content">
       	<p:dataTable var="patron" value="#{patronHandler.patrons}" widgetVar="webTable" id="patronTable"
       		rows="#{appHandler.rows}" paginatorPosition="bottom" paginator="true" paginatorAlwaysVisible="false">
	 
	 		<f:facet name="header">
	 			Patrons
	 			
	 			<p:commandLink oncomplete="PF('tableMenu').show('#{component.clientId}')" styleClass="contextButton">
	 				<i class="fa fa-fw fa-bars"></i>
	 			</p:commandLink>
	 		</f:facet>
	 		
		    <p:column headerText="Patron ID" width="90" priority="0" sortBy="#{patron.barcode}" >
   				<p:commandLink value="#{patron.barcode}" oncomplete="PF('patron').show();" action="#{patronHandler.setSelectedPatron(patron)}" update="main:patronDialogPanel"/>		       
		    </p:column>	
		    
		    <p:column headerText="Last Name" width="150" priority="2" sortBy="#{patron.lastName}" filterBy="#{patron.lastName}" filterMatchMode="contains">
		        <h:outputText value="#{patron.lastName}" />
		    </p:column>	
		    		 
		    <p:column headerText="First Name" width="150" priority="3" sortBy="#{patron.firstName}" filterBy="#{patron.firstName}" filterMatchMode="contains">
		        <h:outputText value="#{patron.firstName}" />
		    </p:column>		
		    
		     <p:column headerText="Address" width="150" priority="3" sortBy="#{patron.address1}" filterBy="#{patron.address1}" filterMatchMode="contains">
		        <h:outputText value="#{patron.address1} #{patron.address2}" />
		    </p:column>	
		    	    
	     	<p:column headerText="Phone" width="150" priority="3" sortBy="#{patron.phone}" filterBy="#{patron.phone}" filterMatchMode="contains">
		        <h:outputText value="#{patron.phone}" />
		    </p:column>			    					   			    			 
		    
		    <p:column width="50" priority="0" headerText="Active">
	            <h:outputText value="#{patron.active ? 'Yes': 'No'}" />
	        </p:column>	
	        
		</p:dataTable>
		
		<p:dialog header="Patron Details" widgetVar="patron" modal="true" closable="true" resizable="false">
		 	<p:panel id="patronDialogPanel">
			 	<div class="popupDialog">
			  	
					<div class="patronRow">		
						<div>	
							<p:outputLabel for="barcode" styleClass="fieldHeader" value="Barcode *"/>
							<p:inputText id="barcode" value="#{patronHandler.selectedPatron.barcode}" styleClass="fieldInput scanner-tab"/>
						</div>
						<div>	
							<p:outputLabel for="enabled" styleClass="fieldHeader checkboxHeader" value="Active" />
							<p:selectBooleanCheckbox id="enabled" styleClass="singleCheckbox" value="#{patronHandler.selectedPatron.active}" />
						</div>
					</div>
					
					<div class="patronRow">
						<div>
							<p:outputLabel for="lastName" styleClass="fieldHeader tab-next" value="Last Name *"/>
							<p:inputText id="lastName" value="#{patronHandler.selectedPatron.lastName}" styleClass="fieldInput tab-next"/>
						</div>
						<div>
							<p:outputLabel for="firstName" styleClass="fieldHeader" value="First Name *"/>
							<p:inputText id="firstName" value="#{patronHandler.selectedPatron.firstName}" styleClass="fieldInput"/>
						</div>
					</div>	
					
					<div class="patronRow">	
						<div>
							<p:outputLabel for="address1" styleClass="fieldHeader" value="Address 1 *"/>
							<p:inputText id="address1" value="#{patronHandler.selectedPatron.address1}" styleClass="fieldInput"/>
						</div>	
						<div>			
							<p:outputLabel for="address2" styleClass="fieldHeader" value="Address 2"/>
							<p:inputText id="address2" value="#{patronHandler.selectedPatron.address2}" styleClass="fieldInput"/>
						</div>	
					</div>
					
					<div class="patronRow">	
						<div>	
							<p:outputLabel for="city" styleClass="fieldHeader" value="City *"/>
							<p:inputText id="city" value="#{patronHandler.selectedPatron.city}" styleClass="fieldInput"/>
						</div>	
						<div>
							<p:outputLabel for="state" styleClass="fieldHeader" value="State *"/>
							<p:inputText id="state" value="#{patronHandler.selectedPatron.state}" styleClass="fieldInput"/>
						</div>
					</div>
					
					<div class="patronRow">			
						<div>			
							<p:outputLabel for="zip" styleClass="fieldHeader" value="Zip *"/>
							<p:inputText id="zip" value="#{patronHandler.selectedPatron.zip}" styleClass="fieldInput"/>
						</div>
						<div>
							<p:outputLabel for="phone" styleClass="fieldHeader" value="Phone"/>
							<p:inputText id="phone" value="#{patronHandler.selectedPatron.phone}" styleClass="fieldInput"/>
						</div>
					</div>
					
					<ui:fragment rendered="#{patronHandler.selectedPatron.id > 0}">
						<div style="width:705px">
							<p:dataTable var="book" value="#{patronHandler.patronBooks}" widgetVar="bookTable" id="bookTable" paginator="false">
								<f:facet name="header">
									Checked Out
								</f:facet> 
								 
							 	<p:column headerText="Title">
						            <h:outputText value="#{book.title}"/>			     
							    </p:column>	
							    
							    <p:column headerText="ISBN" width="100">
						            <h:outputText value="#{book.isbn}"/>			     
							    </p:column>
							   
							</p:dataTable>
						</div>	
					</ui:fragment>
					
					<div class="buttonBar">
						<p:commandButton type="button" value="Cancel" onclick="PF('patron').hide()" class="commandButton"/>
						<p:commandButton value="Save" update="growl patronTable" style="float:right" 
							onclick="return validateForm()"
							action="#{patronHandler.ajaxSavePatron()}" 
							oncomplete="PF('patron').hide()" class="commandButton"/>
					</div>
					
				</div>
			</p:panel>
		</p:dialog>
	
		<p:overlayPanel widgetVar="tableMenu" styleClass="showPanel" showEffect="fade" hideEffect="fade" dismissable="true" style="display:none">
	        <p:outputPanel id="tableMenuPanel">
	        	<h:outputText value="Action" class="showHeader"/> 
	        	<p:commandLink value="Add New Patron" styleClass="showLink" oncomplete="PF('patron').show();" action="#{patronHandler.ajaxAddPatron()}" update="main:patronDialogPanel">
	 				<i class="fa fa-fw fa-plus-square"/>
	 			</p:commandLink>
   	       </p:outputPanel>
	    </p:overlayPanel>
	    
	    <script>
	  		//<![CDATA[
		    	function validateForm() {
		    		zipLength = $('#main\\:zip').val().length;
		    		stateLength = $('#main\\:state').val().length;
		    		cityLength = $('#main\\:city').val().length;
		    		barcodeLength = $('#main\\:barcode').val().length;
		    		lastnameLength = $('#main\\:lastName').val().length;
		    		firstnameLength = $('#main\\:firstName').val().length;
		    		addressLength = $('#main\\:address1').val().length;
		    		
		    		valid = zipLength == 5 && stateLength == 2 && cityLength > 0 && barcodeLength > 0 && 
		    			lastnameLength > 0 && firstnameLength > 0 && addressLength > 0;
		    		
		    		if (!valid) {
		    			PF('error').show();
		    		}
		    		
		    		return valid;
		    	}
	    	//]]>
	    </script>
    </ui:define>
 
</ui:composition>
