<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Language" content="en-us"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Library Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<h:outputScript library="script" name="shared.js"/>
	<h:outputStylesheet library="css" name="reset.css"/>
	<h:outputStylesheet library="css" name="library.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/favicon.ico"/>
	<ui:insert name="head"></ui:insert>
</h:head>

<h:body styleClass="main">

	<f:view contentType="text/html">
		<div id="page">
			<h:form id="main">
				<ui:include src="/WEB-INF/includes/loggedin.xhtml"/>
        		<ui:include src="/WEB-INF/includes/popups.xhtml"/>
				
				<div id="menu">
					<ui:insert name="menu"></ui:insert>
				</div>
				
				<div id="companyLogo"></div>
				<div id="siteLogo" class="siteLogo"></div>
				
				<div id="content">
			    	<ui:insert name="content"></ui:insert>
			    </div>				
			</h:form>
		</div>
	</f:view>
	
	<ui:insert name="javascript"></ui:insert>
</h:body>
</html>
