<!DOCTYPE html>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/loggedin_template.xhtml">
 
    <ui:define name="menu">
        <ui:include src="/WEB-INF/includes/menu.xhtml"/>
    </ui:define>
 
    <ui:define name="content">
       	<p:dataTable var="user" value="#{userHandler.users}" widgetVar="webTable" rows="#{appHandler.rows}" id="userTable">
	 
	 		<f:facet name="header">
	 			Users
	 			
	 			<p:commandLink oncomplete="PF('tableMenu').show('#{component.clientId}')" styleClass="contextButton">
	 				<i class="fa fa-fw fa-bars"></i>
	 			</p:commandLink>
	 		</f:facet>
	 		
		    <p:column headerText="UserID" priority="0" sortBy="#{user.userId}">
   				<p:commandLink value="#{user.userId}" oncomplete="PF('user').show();" action="#{userHandler.setUser(user)}" update="main:userDialogPanel"/>   					
		    </p:column>	
		    
		    <p:column headerText="Last Name" priority="2" sortBy="#{user.lastName}">
		        <h:outputText value="#{user.lastName}" />
		    </p:column>	
		    		 
		    <p:column headerText="First Name" priority="3" sortBy="#{user.firstName}">
		        <h:outputText value="#{user.firstName}" />
		    </p:column>				    					   			    			 
		    
		    <p:column width="50" priority="0" headerText="Active">
	            <h:outputText value="#{user.enabled ? 'Yes': 'No'}" />
	        </p:column>	
	        
	        <p:column width="50" priority="1" headerText="Admin">
	            <h:outputText value="#{user.admin ? 'Yes': 'No'}" />
	        </p:column>	
	        
		</p:dataTable>
		
		<p:dialog header="User Details" widgetVar="user" modal="true" closable="true" resizable="false">
		 	<p:panel id="userDialogPanel">
			 	<div class="popupDialog">
			  	
					<div class="fieldRow">
						<p:outputLabel for="new-user-name" styleClass="fieldHeader" value="User Name *"/>
						<p:inputText id="new-user-name" value="#{userHandler.user.userId}" styleClass="fieldInput"/>
					</div>
					
					<div class="fieldRow">
						<p:outputLabel for="lastName" styleClass="fieldHeader" value="Last Name *"/>
						<p:inputText id="lastName" value="#{userHandler.user.lastName}" styleClass="fieldInput"/>
					</div>	
										
					<div class="fieldRow">			
						<p:outputLabel for="firstName" styleClass="fieldHeader" value="First Name *"/>
						<p:inputText id="firstName" value="#{userHandler.user.firstName}" styleClass="fieldInput"/>
					</div>
					
					<div class="fieldRow">
						<p:outputLabel for="enabled" styleClass="fieldHeader checkboxHeader" value="Enabled" />
						<p:selectBooleanCheckbox id="enabled" styleClass="singleCheckbox" value="#{userHandler.user.enabled}" />
					</div>
					
					<div class="fieldRow">
						<p:outputLabel for="admin" styleClass="fieldHeader checkboxHeader" value="Sys Admin" />
						<p:selectBooleanCheckbox id="admin" styleClass="singleCheckbox" value="#{userHandler.user.admin}" />
					</div>
					
					<div class="fieldRow" style="text-align:center">
						<p:commandButton value="Password" onclick="PF('userpass').show();" rendered="#{userHandler.user.id > 0}"/>
					</div>
					
					<div class="buttonBar">
						<p:commandButton type="button" value="Cancel" onclick="PF('user').hide()" class="commandButton"/>
						<p:commandButton value="Save" update="growl userTable" style="float:right" 
							onclick="return validateForm()"
							action="#{userHandler.ajaxSaveUser()}" 
							oncomplete="PF('user').hide()" class="commandButton"/>
					</div>
					
				</div>
			</p:panel>
		</p:dialog>
		
		<p:dialog header="Set Password" widgetVar="userpass" modal="true" closable="false">
		 	<div class="popupDialog">
		  		
				<div class="password-row" >
					<p:outputLabel for="userNew" value="Password" styleClass="password-title"/>
					<p:password id="userNew" binding="#{userNew}"/>
				</div>	
				
				<div class="password-row" >
					<p:outputLabel for="userConfirm" value="Confirm" styleClass="password-title"/>
					<p:password id="userConfirm" binding="#{userConfirm}"/>
				</div>	
		
				<div class="buttonBar">
					<p:commandButton value="Cancel" onclick="PF('userpass').hide()"/>
					<p:commandButton value="Submit" action="#{userHandler.ajaxUpdatePassword(userHandler.user.id, userNew.value, userConfirm.value)}" update="growl" style="float:right" oncomplete="PF('userpass').hide()"/>
				</div>
			</div>
		</p:dialog>
	
		<p:overlayPanel widgetVar="tableMenu" styleClass="showPanel" showEffect="fade" hideEffect="fade" dismissable="true" style="display:none">
	        <p:outputPanel id="tableMenuPanel">
	        	<h:outputText value="Action" class="showHeader"/> 
	        	<p:commandLink value="Add New User" styleClass="showLink" oncomplete="PF('user').show();" action="#{userHandler.ajaxAddNewUser()}" update="main:userDialogPanel">
	 				<i class="fa fa-fw fa-plus-square"/>
	 			</p:commandLink>
   	       </p:outputPanel>
	    </p:overlayPanel>
	    
	    <script>
	  		//<![CDATA[
		    	function validateForm() {
		    		userNameLength = $('#main\\:new-user-name').val().length;
		    		lastNameLength = $('#main\\:lastName').val().length;
		    		firstNameLength = $('#main\\:firstName').val().length;
		    		
		    		valid = userNameLength > 0 && lastNameLength > 0 && firstNameLength > 0;
		    		
		    		if (!valid) {
		    			PF('error').show();
		    		}
		    		
		    		return valid;
		    	}
	    	//]]>
	    </script>
    </ui:define>
 
</ui:composition>
