<!DOCTYPE html>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/loggedin_template.xhtml">
 
    <ui:define name="menu">
        <ui:include src="/WEB-INF/includes/menu.xhtml"/>
        
        <style>
        	.contextButton {
        		float: right;
        		color: white !important;
        	}
        	
        	.addButton {
			   	text-decoration: none;
			    color: white !important;
			    float: right;
			    position: relative;
    			top: -2px;
			}
        </style>
    </ui:define>
 
    <ui:define name="content">
		<p:dataTable var="book" value="#{bookHandler.books}" widgetVar="webTable" id="bookTable" 
			rows="#{appHandler.rows}" paginatorPosition="bottom" paginator="true" paginatorAlwaysVisible="false">
            
            <f:facet name="header">
	 			Books 
	 			
	 			<p:commandLink oncomplete="PF('tableMenu').show('#{component.clientId}')" styleClass="contextButton">
	 				<i class="fa fa-fw fa-bars"></i>
	 			</p:commandLink>
	 		</f:facet>
	 		
	 		<p:column headerText="ISBN" priority="0" sortBy="#{book.isbn}" filterBy="#{book.isbn}" filterMatchMode="contains" width="100">
				<p:commandLink value="#{book.isbn}" oncomplete="PF('book').show();" action="#{bookHandler.setSelectedBook(book)}" update="main:bookDialogPanel"/> 
		    </p:column>	
	 
		    <p:column headerText="Title" priority="0" sortBy="#{book.title}" filterBy="#{book.title}" filterMatchMode="contains">
				<h:outputText value="#{book.title}"/> 
		    </p:column>	
		    
		    <p:column headerText="Author" priority="0" sortBy="#{book.author1}" filterBy="#{book.author1}" filterMatchMode="contains" width="200">
				<h:outputText value="#{book.author1}"/>		     
		    </p:column>	
		    
		    <p:column headerText="Location/Dewey" priority="0" width="100">
				<h:outputText value="#{book.location}"/>		     
		    </p:column>	
		    
		    <p:column headerText="Copies" priority="0" class="right" width="75">
				<h:outputText value="#{book.copies}"/>		     
		    </p:column>	
		    
	     	<p:column headerText="Out" priority="0" class="right" width="75">
				<h:outputText value="#{book.checkedOut}"/>		     
		    </p:column>	
		    
		</p:dataTable>
		
		<!-- Hidden form elements for jQuery <-> JSF integration -->
		<input type="text" class="invisible-scanner scanner-tab" id="scanner-entry"/>
	   	<h:inputHidden id="enteredISBN" value="#{bookHandler.searchISBN}" styleClass="scanner-tab"/>
	    <p:commandButton id="invisibleClickTarget" style="display:none" oncomplete="PF('book').show()" action="#{bookHandler.ajaxFindBook()}" update="main:bookDialogPanel"/>	
	   	
		<p:dialog header="Book Details" widgetVar="book" modal="true" closable="true" resizable="false">
		 	<p:panel id="bookDialogPanel">
			 	<div class="popupDialog">
			 				 		
			 		<div class="bookRow">
						<p:outputLabel for="bookISBN" value="ISBN *" class="title" />
						<p:inputText id="bookISBN" value="#{bookHandler.selectedBook.isbn}" class="fullField scanner-field"/>
					</div>	
					
					<div class="bookRow">
						<p:outputLabel for="bookTitle" value="Title *" class="title"/>
						<p:inputText id="bookTitle" value="#{bookHandler.selectedBook.title}" class="fullField tab-next"/>
					</div>	
					
					<div class="bookRow">
						<p:outputLabel for="bookAuthor1" value="Authors *" class="title"/>
						<p:inputText id="bookAuthor1" value="#{bookHandler.selectedBook.author1}" class="halfField"/>						
						<p:inputText id="bookAuthor2" value="#{bookHandler.selectedBook.author2}" class="halfField"/>
					</div>	
					
					<div class="bookRow">
						<p:outputLabel value="Subjects" class="title"/>
						<p:inputText id="bookSubject1" value="#{bookHandler.selectedBook.subject1}" class="thirdField"/>
						<p:inputText id="bookSubject2" value="#{bookHandler.selectedBook.subject2}" class="thirdField"/>
						<p:inputText id="bookSubject3" value="#{bookHandler.selectedBook.subject3}" class="thirdField"/>
					</div>	
					
					<div class="bookRow">
						<p:outputLabel value="Synopsis" class="title"/>
						<p:inputTextarea rows="5" style="vertical-align:middle" id="synopsis" value="#{bookHandler.selectedBook.synopsis}" class="fullField"/>
					</div>	
					
					<div class="bookRow">
						<p:outputLabel for="bookLocation" value="Loc/Dewey" class="title"/>
						<p:inputText id="bookLocation" value="#{bookHandler.selectedBook.location}" class="fullField" />
					</div>	
					
					<div class="bookRow" style="width:680px">
						<p:dataTable var="copy" value="#{bookHandler.copies}" widgetVar="copyTable" id="copyTable" paginator="false" editable="true">
							<f:facet name="header">
								Copies
								<p:commandLink value="+" styleClass="addButton" action="#{bookHandler.addNewCopy()}" update="copyTable"/>								
							</f:facet> 
							 
						 	<p:column headerText="Barcode">
							 	<p:cellEditor>
					                <f:facet name="output"><h:outputText value="#{copy.barcode}"/></f:facet>
					                <f:facet name="input"><p:inputText value="#{copy.barcode}" styleClass="scanner-field"/></f:facet>
					            </p:cellEditor>				     
						    </p:column>	
						    
						    <p:column style="width:35px">
					            <p:rowEditor/>
					        </p:column>
					        
					        <p:column style="width:15px">
					        	 <p:commandLink oncomplete="PF('deleteCopyConfirmation').show()" action="#{bookHandler.setSelectedCopy(copy)}">
					            	<i class="fa fa-fw fa-trash"/>
					            </p:commandLink>
					        </p:column>
						</p:dataTable>
					</div>	
					
					<div class="buttonBar">
						<p:commandButton value="Cancel" onclick="PF('book').hide()" oncomplete="$('#scanner-entry').focus()" class="commandButton"/>
						<p:commandButton value="Save" update="growl main:bookTable" style="float:right" 
							onclick="return validateForm()"
							action="#{bookHandler.ajaxSaveBook()}" 
							oncomplete="PF('book').hide();$('#scanner-entry').focus()" class="commandButton"/>
					</div>
					
				</div>
			</p:panel>
		</p:dialog>
		
		<p:overlayPanel widgetVar="tableMenu" styleClass="showPanel" showEffect="fade" hideEffect="fade" dismissable="true" style="display:none">
	        <p:outputPanel id="tableMenuPanel">
	        	<h:outputText value="Action" class="showHeader"/> 
	        	<p:commandLink value="Add New Book" styleClass="showLink" action="#{bookHandler.ajaxAddBook()}" oncomplete="PF('tableMenu').hide();PF('book').show()" update="main:bookDialogPanel">
	 				<i class="fa fa-fw fa-plus-square"/>
	 			</p:commandLink>
							
				<h:outputText value="Reports" class="showHeader"/> 			
	 			<p:commandLink styleClass="showLink" value="All Books" ajax="false" onclick="PF('tableMenu').hide()">
	 				<i class="fa fa-fw fa-book"/>
	            	<p:fileDownload value="#{bookHandler.processBookReport()}" contentDisposition="attachment"/>
				</p:commandLink>
				<p:commandLink styleClass="showLink" value="Checked Out" ajax="false" onclick="PF('tableMenu').hide()">
	 				<i class="fa fa-fw fa-user"/>
	            	<p:fileDownload value="#{bookHandler.processCheckoutReport()}" contentDisposition="attachment"/>
				</p:commandLink>
   	       </p:outputPanel>
	    </p:overlayPanel>
	    
	   	<p:dialog header="Confirm Delete" widgetVar="deleteCopyConfirmation" modal="true" resizable="false" closeable="false" style="text-align:center">
			<h:outputText value="Are you sure you wish to delete this copy?" style="display:block"/>
			<p:commandButton value="Cancel" styleClass="commandButton" style="margin-top:5px;margin-right:3px"
				onclick="PF('deleteCopyConfirmation').hide()" />	
			<p:commandButton value="Ok" styleClass="commandButton" style="margin-top:5px;margin-left:3px"
				action="#{bookHandler.ajaxRemoveCopy(bookHandler.selectedCopy)}"
				oncomplete="PF('deleteCopyConfirmation').hide()" 
				update="main:copyTable"/>
		</p:dialog>   
	
		<script>
			//<![CDATA[
				function onScannerEnter() {				
					// get entered ISBN
					ISBN = $('#scanner-entry').val();
					
					// copy to form field
					$('#main\\:enteredISBN').val(ISBN)
					
					// submit AJAX
					$('#main\\:invisibleClickTarget').click();
					
					// remove scanner data
					$('#scanner-entry').val('')
				}
				
				function validateForm() {
		    		author = $('#main\\:bookAuthor1').val().length;
		    		title = $('#main\\:bookTitle').val().length;
		    		isbn = $('#main\\:bookISBN').val().length;
		    		
		    		valid = author > 0 && title > 0 && isbn > 0;
		    		
		    		if (!valid) {
		    			PF('error').show();
		    		}
		    		
		    		return valid;
		    	}
	    	//]]>
	    </script>
		
    </ui:define>
 
</ui:composition>
