<!DOCTYPE html>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/loggedin_template.xhtml">
 
    <ui:define name="menu">
        <ui:include src="/WEB-INF/includes/menu.xhtml"/>
    </ui:define>
 
    <ui:define name="content">
        <div style="text-align: center;font-size: 24px;">Unfortunately, the record you requested cannot be found.</div> 			
										
		<div class="fieldRow fieldRowMultiButton">	
			<p:commandButton value="Cancel" action="${appHandler.getLastPage()}" ajax="false"/>										
		</div>
    </ui:define>
 
</ui:composition>

