<?xml version='1.0' encoding='iso-8859-1' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<h:head>
	<meta http-equiv="Content-Language" content="en-us"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Library Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<h:outputScript library="script" name="shared.js"/>
	<h:outputStylesheet library="css" name="reset.css"/>
	<h:outputStylesheet library="css" name="library.css"/>
	<h:outputStylesheet library="css" name="login.css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/favicon.ico"/>
</h:head>

<h:body>
	<f:view contentType="text/html">
		<h:form id="login">   
			
			<div class="outer">
				<div class="middle">
					<div class="loginBox inner">	
						<div id="blur"></div>			
						<div class="logo" style="margin-top:10px"></div>
						
						<div id="copyright">
							<h:outputText value="${appHandler.copyright}" escape="false"/>
						</div>
							
						<div class="inputRow" style="margin-top:20px">				
							<p:watermark for="email" value="Username"/>
							<p:inputText id="email" value="#{loginHandler.userName}" styleClass="fieldInput"/>
						</div>				
						
						<div class="inputRow">
							<p:watermark for="password" value="Password"/>
							<p:password id="password" value="#{loginHandler.password}" feedback="false" styleClass="fieldInput"/>
						</div>
						
						<div class="inputRow">
							<p:commandButton class="button" value="LOG IN" id="login" action="#{loginHandler.processLogin()}" ajax="false"/>
						</div>
					</div> 	
				</div>
			</div>
			
			<p:growl id="growl" showDetail="false" sticky="true" /> 
		</h:form>
    </f:view>	       
</h:body>
</html>
