<?xml version='1.0' encoding='iso-8859-1' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Language" content="en-us"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Library Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<h:outputScript library="script" name="shared.js"/>
	<h:outputStylesheet library="css" name="reset.css"/>
	<h:outputStylesheet library="css" name="library.css"/>
	<h:outputStylesheet library="css" name="login.css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/favicon.ico"/>
</h:head>

<h:body>
	<f:view contentType="text/html">
		<h:form id="search">  
		
			<p:commandLink action="login" class="loginButton">
				<i class="fa fa-fw fa-sign-in"></i>
			</p:commandLink>
		
			<div class="searchHeader">
				Library Search Tool
			</div>
		
			<p:panel class="searchRow invisible-panel" id="inputPanel">
				<div class="searchBlock">
					<h:outputText value="Title"/>
					<p:inputText id="title" value="#{bookHandler.searchTitle}" styleClass="fieldInput"/>
				</div>
					
				<div class="searchBlock">
					<h:outputText value="Author"/>
					<p:inputText id="author" value="#{bookHandler.searchAuthor}" styleClass="fieldInput"/>
				</div>
				
				<div class="searchBlock">
					<h:outputText value="Subject"/>
					<p:inputText id="subject" value="#{bookHandler.searchSubject}" styleClass="fieldInput"/>
				</div>
				
				<div class="searchBlock">
					<h:outputText value="ISBN"/>
					<p:inputText id="isbn" value="#{bookHandler.searchISBN}" styleClass="fieldInput"/>
				</div>
			</p:panel>
			
			<div class="searchRow">
				<p:commandButton class="button" value="Reset" id="reset" action="#{bookHandler.ajaxResetSearch()}" update="bookTable inputPanel"/>
				<p:commandButton class="button" value="Search" id="search" action="#{bookHandler.ajaxSearchBooks()}" update="bookTable"/>
			</div>
			
			<p:dataTable var="book" value="#{bookHandler.books}" widgetVar="webTable" id="bookTable" 
				rows="#{appHandler.rows}" paginatorPosition="bottom" paginator="true" paginatorAlwaysVisible="false">
				
	            <f:facet name="header">
		 			Books 
		 		</f:facet>
		 		
		 		<p:column headerText="ISBN" priority="0" width="100">
					<p:commandLink value="#{book.isbn}" oncomplete="PF('book').show();" action="#{bookHandler.setSelectedBook(book)}" update="search:bookDialogPanel"/> 
			    </p:column>	
		 
			    <p:column headerText="Title" priority="1">
					<h:outputText value="#{book.title}"/> 
			    </p:column>	
			    
			    <p:column headerText="Author" priority="4" width="200">
					<h:outputText value="#{book.author1}"/>		     
			    </p:column>	
			    
			    <p:column headerText="Location/Dewey" priority="1" width="100">
					<h:outputText value="#{book.location}"/>		     
			    </p:column>	
			    
			    <p:column headerText="Available" priority="3" width="75">
					<h:outputText value="#{book.copies - book.checkedOut}"/>		     
			    </p:column>	
			    
			</p:dataTable> 
			
			<p:dialog header="Book Details" widgetVar="book" modal="true" closable="true" resizable="false">
			 	<p:panel id="bookDialogPanel">
				 	<div class="popupDialog">
				 				 		
				 		<div class="bookRow">
							<p:outputLabel for="bookISBN" value="ISBN" class="title" />
							<p:inputText id="bookISBN" value="#{bookHandler.selectedBook.isbn}" class="fullField" readonly="true"/>
						</div>	
						
						<div class="bookRow">
							<p:outputLabel for="bookTitle" value="Title" class="title"/>
							<p:inputText id="bookTitle" value="#{bookHandler.selectedBook.title}" class="fullField" readonly="true"/>
						</div>	
						
						<div class="bookRow">
							<p:outputLabel for="bookAuthor1" value="Authors" class="title"/>
							<p:inputText id="bookAuthor1" value="#{bookHandler.selectedBook.author1}" class="halfField" readonly="true"/>						
							<p:inputText id="bookAuthor2" value="#{bookHandler.selectedBook.author2}" class="halfField" readonly="true"/>
						</div>	
						
						<div class="bookRow">
							<p:outputLabel value="Subjects" class="title"/>
							<p:inputText id="bookSubject1" value="#{bookHandler.selectedBook.subject1}" class="thirdField" readonly="true"/>
							<p:inputText id="bookSubject2" value="#{bookHandler.selectedBook.subject2}" class="thirdField" readonly="true"/>
							<p:inputText id="bookSubject3" value="#{bookHandler.selectedBook.subject3}" class="thirdField" readonly="true"/>
						</div>	
						
						<div class="bookRow">
							<p:outputLabel value="Synopsis" class="title"/>
							<p:inputTextarea rows="5" style="vertical-align:middle" id="synopsis" value="#{bookHandler.selectedBook.synopsis}" class="fullField" readonly="true"/>
						</div>	
						
						<div class="bookRow">
							<p:outputLabel for="bookLocation" value="Loc/Dewey" class="title"/>
							<p:inputText id="bookLocation" value="#{bookHandler.selectedBook.location}" class="fullField" readonly="true"/>
						</div>	
					
						<div class="buttonBar">
							<p:commandButton value="Close" onclick="PF('book').hide()" class="commandButton"/>
						</div>
						
					</div>
				</p:panel>
			</p:dialog>
		</h:form>
    </f:view>	       
</h:body>
</html>
