/* Font settings */
body, .ui-widget, .ui-widget button {
	font-family: 'Open Sans', sans-serif;
}

html {
	background-color:lightblue;
}

/* Generic values for most input screens */
.fieldRow {margin:auto;margin-top:5px;width:365px;overflow:hidden}
.fieldHeader {margin: 5px;float: left;width: 140px;color: black;}
.fieldInput {width:190px}
.fieldRowMultiButton{text-align: center; padding-bottom:5px}

.confirmDiv {margin: auto;margin-top:10px; text-align: center;}
.confirmYes {margin:0px !important;float:left}
.confirmNo {margin:0px !important;float:right}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	background: rgb(113,117,117);
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    text-shadow: none;
    color: white;
}

#content {
	background: rgb(113, 117, 117);
}

table td, table th {
	font-size: 14px;
}

.bookRow, .patronRow, .checkoutRow {
	margin-bottom:5px;
}

.patronRow div {
	display:inline-block;
}

.fullField {
	width:540px;
}

.halfField {
    width: 262px;
    margin-right: 5px !important;
}

.thirdField {
	width: 170px;
    margin-right: 5px !important;
}

.numberField {
	width: 200px;
}

.title {
	width:120px;
	display:inline-block;
	padding:5px;
}

.invisible-scanner {
	float:right;
	opacity:0;
	cursor:default;
}

.commandButton {
    width: 125px;
}

.buttonBar {
	margin-top: 10px;
}

.searchRow {
	text-align: center;
}

.searchRow .searchBlock {
	margin: 5px;
}

.invisible-panel {
	border: none;
	background:transparent;
}

.searchBlock {
	width: 200px;
	display: inline-block;
}

.searchHeader {
	margin-top: 10px;
    text-align: center;
	font-size: 20px;
}

.right {
	text-align:right;
}

.loginButton {
	position:absolute;
	right:10px;
    color: #5aafe7;
}
