html {
	min-height:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url('#{resource['images/background/paper.jpg']}');
	background-size: 100% 100%;
}

.logo {
	background: url('#{resource['images/logos/library.jpg']}') no-repeat;
	width:200px;
	height:134px;
	display:block;
	margin:auto;
}

body {
	overflow:hidden;
}

.loginBox {
    border: 1px solid black;
    border-radius:3px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 262px;
}

.inputRow {
	width:204px;
	margin:auto;
	margin-bottom:10px;
}

.inputRow input {
	height:26px;
}

.fieldInput {
	width: 194px;
}

.button {
	width:204px;
	background: #5aafe7;
    color: white;
    text-shadow: none;
    box-shadow: none;
    margin-bottom:7px;
}

.button span {
	margin-top:2px;
}

.button:hover {
	background: #488cb8;
}

.ui-state-focus {
	outline:none;
}

#copyright {
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 10px; 
	color:black; 
	z-index:5
}
