 .ui-tabmenu, .ui-tabmenu-nav {
 	background: #F5FFFA; 
 	border-radius: 0px;
 	border: none;
 }

 .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
 	background: white;
}

.ui-tabmenu .ui-tabmenu-nav .ui-state-active {
	background: lightblue;
}

.password-row {
	margin-bottom:10px;
}

.password-title {
	display:inline-block;
	width:90px;
}

.contextButton {
	float: right;
	color: white !important;
}
     	
.tableMenu {
	color:white;
	float:right;
}
     	
.showPanel .ui-overlaypanel-content {
	padding:2px;
	font-size:12px;
	width: 150px;
}

.showHeader {
	background: rgb(242,242,242);
    padding: 5px;
	border: 1px solid rgb(209,207,207);
	display: block;
}

.showLink {
	display: block;
	padding: 5px;
	text-decoration: none;
}

.showLink .fa {
	float:right;
}